@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #ffffff;
  --background-secondary: #A0C0D6;
  --background-tertiary: #D9D9D9;
  --foreground-primary: #2B3240;
  --foreground-secondary: #DE7456;
  --foreground-tertiary: #ffffff;
  --primary-font: 'Raleway', sans-serif;
  --secondary-font: 'Merriweather', sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background-primary);
  font-family: var(--secondary-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  position: relative;
  justify-content: space-between;
  height: 20vh;
}

.value-display {
  text-align: center;
  width: 60px;
  font-size: 1.25rem;
  color: var(--foreground-tertiary);
  background: var(--background-secondary);
  border-radius: 25px;
  font-weight: 500;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
      -5px -5px 10px var(--foreground-tertiary),
      inset 5px 5px 10px rgba(0, 0, 0, 0.1),
      inset -5px -5px 5px rgba(255, 255, 255, 0.25);
}

.vertical {
  transform: rotate(-90deg);
  transform-origin: center;
}

.horizontal {
  width: 100%;
}

.range {
  width: 200px; 
  height: auto;
  appearance: none;
  background: #edf1f4;
  outline: none;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1),
      -5px -5px 10px var(--foreground-tertiary),
      inset 5px 5px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

.range::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--foreground-tertiary);
  border-radius: 50%;
  border: 2px solid var(--foreground-secondary);
  box-shadow: -407px 0 0 400px var(--foreground-secondary);
  cursor: pointer;
}

.slider-title {
  position: relative;
  /* margin-top: 10px; */
  text-align: center;
  font-size: 0.875rem;
  /* color: var(--foreground-tertiary); */
}

